.container{
    align-self: center;
}

#task{
    margin-bottom: 2vh;
    border-radius: 3rem;
    width:50vw;
    height:4vh;
}

.mainCard{
    margin-bottom: 2vh;
    background-color: rgba(137, 43, 226, 0.13);
    width:60vw;
    border-radius: 3rem;
    height:25vh;
}

.btn-form{
    border-radius: 5px;
    height:4vh;
    width:12vw;
    margin:1rem;
}

.taskAdded{
    font-size: 1.5  rem;
    margin:1rem;
    width:30vw;
    padding-left:5px;
}

.date{
    margin-left:1rem;
    font-size: 1.3rem;

}

.btn-danger,.editTask,.completeBtn  {
    margin: 1rem;
    padding:5px;
    width:12vw;

}

.editTask{
    margin-left: 2rem;
    border-radius: 5px;
    background-color: rgba(137, 43, 226, 0.514);
}

.completeBtn{
    margin-left:2rem;
}

.btns{
   margin-left:5vw;
   margin-bottom: 1vh;
}

hr{
    color: blueviolet;
    margin-bottom: 2vh;
}

@media (max-width:850px){
    .mainCard{   
        width:90vw;
        height:35vh;
    }
    .taskAdded{ 
        width:60vw;
    }

    .btn-form{
        margin-bottom: 1vh;
        width:25vw;
    }

    .btn-danger,.editTask,.completeBtn  {
        
        width:25vw;
        height: 6vh;
    
    }
}